*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
    max-width: 1700px;
    padding: auto;
    background-color: aquamarine;
}

.container{
    margin: 0 auto;
    max-width: 880px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    border: 2px dotted black;
}

.box{
    align-self: center;
    padding: 0 10px;
    background-color: yellow;
    border: 2px dotted black;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 0 10px;
    padding: 5px 10px;
}

header nav ul li a{
    text-decoration: none;
}

.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    background-color: pink;
    border: 2px dotted black;
}

.debug .jumbo{
    margin: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.row{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.row .main{
    width: 500px;
    height: 350px;
    background-color: blue;
    border: 2px dotted black;
}

.row .side{
    width: 300px;
    height: 350px;
    background-color: palevioletred;
    border: 2px dotted black;
}

.grey{
    background-color: rgb(197, 190, 190);
    padding-bottom: 10px;
}

div .reverse{
    flex-direction: row-reverse;
}

div .debug .grey{
    display: flex;
}

.big-box{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 650px;
    height: 500px;
    background-color: green;
    border: 2px dotted black;
}

footer{
    background-color: rgb(35, 39, 42);;
}
.container-black{
    display: flex;
    justify-content: center;
    max-width: 1700px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.col1{
    width: 250px;
    height: 400px;
    background-color: salmon;
    border: 2px dotted black;
}

.col{
    width: 150px;
    height: 400px;
    background-color: rgb(13, 100, 100);
    border: 2px dotted white;
}

hr{
    color: white;
}

.footercont{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    height: 50px;
    background-color: aqua;
}
